body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: papayawhip;
  padding: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
